{% load static %}
<header>
    <div class="head-container">
        <div id="prelogo">
            <div class="flex-row">
                <img src="{% static 'img/pin.png' %}" alt="">
                <div>
                    <p>Шоссейная 130А</p>
                    <p>пос. Иноземцево</p>
                </div>
            </div>
        </div>

        <div id="mobile-space"></div>

        <div id="logo">
            <a href="{% url 'main:home' %}">
                <h1 class="">Усадьба Уюта</h1>
                <p>гостевой дом</p>
            </a>
        </div>



        <div class="mobile-burger">
            <div class="burger">
                <p>&#9776;</p>
            </div>
            <div class="mobile-burger-dropdown-nav">
                <div class="mobile-dropdown-trigger">
                    <a href="">Номера</a>
                    <div class="header-dropdown">
                        <a href="{% url 'main:rooms' 'standard' %}#rooms-standard">Стандарт</a>
                        <a href="{% url 'main:rooms' 'half-luxe' %}#rooms-half-luxe">Полулюкс</a>
                        <a href="{% url 'main:rooms' 'luxe' %}#rooms-luxe" #:~:text=Люкс>Люкс</a>
                    </div>
                </div>
                <div class="mobile-dropdown-trigger">
                    <a href="{% url 'main:services' 'indoors' %}#services-indoors">Услуги</a>
                    <div class="header-dropdown">
                        <a href="{% url 'main:services' 'indoors' %}#services-special">Услуги внутри</a>
                        <a href="">Специальные услуги</a>
                    </div>
                </div>
                <a href="{% url 'main:info' %}">Информация</a>
                <a href="{% url 'main:contacts' %}">Контакты</a>
            </div>
        </div>

        <div id="header-phone-number">
            <div class="flex-row">
                <img src="{% static 'img/call.png' %}" alt="">
                <div>
                    <p>+7 928 374-09-52</p>
                </div>
            </div>

        </div>
    </div>
    <div class="nav">
        <div class="nav-item dropdown">
            <a href="#" onclick="event.preventDefault()">Номера</a>
            <img src="{% static 'img/down-arrow.png' %}" alt="">
            <div class="dropdown-content">
                <a href="{% url 'main:rooms' 'standard' %}#rooms-standard"
                    class="animate__animated animate__zoomIn">Стандарт</a>
                <a href="{% url 'main:rooms' 'half-luxe' %}#rooms-half-luxe"
                    class="animate__animated animate__zoomIn">Полулюкс</a>
                <a href="{% url 'main:rooms' 'luxe' %}#rooms-luxe" class="animate__animated animate__zoomIn">Люкс</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a href="#" onclick="event.preventDefault()">Услуги</a>
            <img src="{% static 'img/down-arrow.png' %}" alt="">
            <div class="dropdown-content">
                <a href="{% url 'main:services' 'indoors' %}#services-indoors"
                    class="animate__animated animate__zoomIn">Услуги
                    внутри</a>
                <a href="{% url 'main:services' 'indoors' %}#services-special"
                    class="animate__animated animate__zoomIn">Специальные
                    услуги</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:info' %}">Информация</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:contacts' %}">Контакты</a>
        </div>
        <div class="nav-item">
            <a class="btn-a" id="book-header">Забронировать</a>
        </div>
    </div>
</header>