{% load static %}
<header>
    <div id="logo">
        <a href="{% url 'main:home' %}">
            <h1 class="">Усадьба Уюта</h1>
        </a>
    </div>
    <div class="nav">
        <div class="mobile-burger">
            <div class="burger">
                <img src="{% static 'img/menu.png' %}" alt="">
            </div>
            <div class="mobile-burger-dropdown-nav">
                <div class="mobile-dropdown-trigger">
                    <a href="">Номера</a>
                    <div class="header-dropdown">
                        <a href="{% url 'main:rooms' 'standard' %}">Стандарт</a>
                        <a href="{% url 'main:rooms' 'luxe' %}">Люкс</a>
                    </div>
                </div>
                <a href="{% url 'main:services' %}">Услуги</a>
                <a href="{% url 'main:prices' %}">Цены</a>
                <a href="{% url 'main:info' %}">Информация</a>
                <a href="{% url 'main:contacts' %}">Контакты</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="">Номера</a>
            <img src="{% static 'img/down-arrow.png' %}" alt="">
            <div class="dropdown-content">
                <a href="{% url 'main:rooms' 'standard' %}" class="animate__animated animate__zoomIn">Стандарт</a>
                <a href="{% url 'main:rooms' 'luxe' %}" class="animate__animated animate__zoomIn">Люкс</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:services' %}">Услуги</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:prices' %}">Цены</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:info' %}">Информация</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'main:contacts' %}">Контакты</a>
        </div>
    </div>
</header>