<div class="mobile-burger">
    <div class="burger">
        <p>&#9776;</p>
    </div>
    <div class="mobile-burger-dropdown-nav">
        <div class="mobile-dropdown-nottrigger">
            <div class="btn-a book-header" href="">Забронировать</div>
        </div>
        <div class="mobile-dropdown-trigger">
            <a class="burger-a" href="">Номера</a>
            <div class="header-dropdown">
                <a href="{% url 'main:rooms' 'standard' %}#rooms-standard"><span>&#8226;</span>Стандарт</a>
                <a href="{% url 'main:rooms' 'half-luxe' %}#rooms-half-luxe"><span>&#8226;</span>Полулюкс</a>
                <a href="{% url 'main:rooms' 'luxe' %}#rooms-luxe" #:~:text=Люкс><span>&#8226;</span>Люкс</a>
            </div>
        </div>
        <div class="dull-line"></div>
        <div class="mobile-dropdown-trigger">
            <a class="burger-a" href="{% url 'main:services' 'indoors' %}#services-indoors">Услуги</a>
            <div class="header-dropdown">
                <a href="{% url 'main:services' 'indoors' %}#services-indoors"><span>&#8226;</span>Услуги внутри</a>
                <a href="{% url 'main:services' 'special' %}#services-special"><span>&#8226;</span>Специальные
                    услуги</a>
            </div>
        </div>
        <div class="dull-line"></div>
        <div class="mobile-dropdown-nottrigger">
            <a class="burger-a" href="{% url 'main:info' %}">Информация</a>
        </div>
        <div class="dull-line"></div>
        <div class="mobile-dropdown-nottrigger">
            <a class="burger-a" href="{% url 'main:contacts' %}">Контакты</a>
        </div>

    </div>
</div>