{% load static %}
<div class="swiper reviewSwiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="reviews-container">
                <div class="review not-center-review">
                    <div class="review-author">
                        <h3>Юлия Зайцева</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Останавливались на 1 ночь с двумя детьми в двухкомнатном номере в конце апреля 24г. Отель
                        очень понравился, все чисто и уютно. Есть общая кухня со всем необходимым. Номер так же был
                        чистый, с хорошей мебелью, большой ванной комнатой. Вокруг отеля тихо, в пешей доступности
                        кафе и магазины.
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=yb60n22q3v2hvp6afux8gdrfg4&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

                <div class="review">
                    <div class="review-author">
                        <h3>Olga Khramtsova</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Останавливась проездом из Тбилиси в Москву. Очень чисто, уютно! Приятно находиться в номере.
                        Спасибо владельцамии администратору. Также благодарю за то, что гостевой дом дог-френдли:)
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=aucypez0aturybmetz02gqgp0r&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

            </div>
        </div>

        <div class="swiper-slide">
            <div class="reviews-container">
                <div class="review not-center-review">
                    <div class="review-author">
                        <h3>Наталья К.</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Отдыхала в марте 2025 года в этом уютном госревом доме. Номер очень чистый и просторный.
                        Администратор приветливый все
                        рассказал и обьяснил. Постельное белье новое, матрац очень удобный. Рядом есть магазины и
                        очень удобно добираться в
                        Пятигорск и Железноводск. Всем очень довольна. Рекомендую на все 100 процентов.
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=grtxhu4r53vc5qeqfe4yq754rr&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

                <div class="review">
                    <div class="review-author">
                        <h3>Юлия Заберючинская</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Минусы отсутствуют полностью!!! Отличное место, тихо, спокойно, уютно, чисто. Персонал
                        просто супер. Огромное спасибо, что Вы есть! Попавши сюда хоть раз, никогда не захочется в
                        другой дом. Уезжаю всегда с сожалением...
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=dfxj9zyg5pxv7110y8zj7m68pr&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

            </div>
        </div>

        <div class="swiper-slide">
            <div class="reviews-container">

                <div class="review">
                    <div class="review-author">
                        <h3>irinamosienko1978</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Заехали в гостевой дом Усадьба уюта по рекомендации своих друзей, отдыхаем здесь с мужем уже
                        не в первый раз. Нам все нравится. Атмосфера комфорта и уюта. Отдыхали в разных номерах все
                        номера, очень чистые и комфортные. Всем рекомендую!!! Мы стали постоянными гостями. Большое
                        спасибо хозяевам и администраторам!!! Да, отдельно хотим отметить сауну и кафе в гостевом
                        доме, очень атмосферно!!! Поэтому приезжайте, будите доволльны и ценами и отношением к
                        гостям!!
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=4r4vhmnqf600uzav6dbvtrxgzr&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

                <div class="review not-center-review">
                    <div class="review-author">
                        <h3>Tatyana Koryakina</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Гостевой дом расположен среди частного сектора, хорошая асфальтовая дорога для подъезда. В
                        шаговой доступности магазины, кафе, пункт Wallsberry, храм. Радушные хозяева, везде чисто,
                        свежий ремонт, чистое бельё. Как во многих гостевых домах нужно разуться при входе, берите
                        сменную обуви или вам предложат тапочки. На обоих этажах кухни, со всеми необходимым -
                        посуда, кастрюли, холодильник. Номер уютный, тёплый, тихое место. Есть полотенца, гель для
                        душа. Работает телевизор, кондиционер, есть WiFi на хорошей скорости, сотовая связь
                        устойчива. Мы были в марте 2024 г проездом на Эльбрус. Рекомендую!
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=4tu3vkaex694u51fgz5hwuy85r&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

            </div>
        </div>
        <div class="swiper-slide">
            <div class="reviews-container">

                <div class="review not-center-review">
                    <div class="review-author">
                        <h3>Александр Б.</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Этот дом на 1000% оправдывает свое название. Мы переночевали только одну ночь, но у нас
                        только самые положительные оценки и эмоции об этом месте. Нас встретили приветливые и
                        добродушные хозяева, сделали хорошую скидку. По уюту и отношению к гостям видно, что вы
                        любите свой дом и гостей. К вам хочется ещё раз вернуться. Успеха вам и процветания. Уже 2
                        разв в данном месте останавливались, всё СУПЕР
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=zx7etgpjtukuxrj7nqe4au6zyc&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                </div></a>

                <div class="review">
                    <div class="review-author">
                        <h3>Елена Анютина</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Очень уютная гостиница. Есть кухня, где можно что-нибудь приготовить. В номере есть чайник,
                        кружки, чай и т.д. Номер большой и чистый. Рекомендуем для посещения ( особенно кто
                        путешествует на машине). Хорошее месторасположение между Железноводском и Пятигорском
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=whpcn3wt2kf9bhuanjkvt0atv8&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

            </div>
        </div>
        <div class="swiper-slide">
            <div class="reviews-container">

                <div class="review">
                    <div class="review-author">
                        <h3>Алексей Мосиенко</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Отличное место, очень уютно и чисто. Шикарное место, как для отдыха, так и для проведения
                        различных торжеств. В Усадьбе есть комфортабельные номера, прекрасная баня, шашлычная зона и
                        банкетные зал в стиле охотничьего домика. Великолепная отделка интерьера. Хозяева,
                        прекрасные люди . Всем советую посетить. Цены приемлимые. Постоянным клиентам делают скидки.
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=wr3qe908x7138npdnjeuajghbg&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

                <div class="review not-center-review">
                    <div class="review-author">
                        <h3>Анна И.</h3>
                        <img src="{% static 'main/img/5stars.png' %}" alt="">
                    </div>
                    <div class="review-text">
                        Отличное место. Чисто, уютно, мебель и текстиль новые. Я слегка брезгливая, но в этом доме
                        нестрашно даже босиком в комнате походить)
                        Не вдавались в подробности изначально, от соседей по комнате узнали, что сзади есть летняя
                        кухня с мангальной зоной, от которой наши соседи тоже были в восторге)
                        Очень рекомендую, своих денег комнаты точно стоят.
                        Внутри: отдельный су, телевизор со всеми нужными каналами, кондиционер, мини-холодильник в
                        шкафчике, полотенца с запасом, индивидуальные отельные наборы гигиены. Варианты освещения
                        комнаты на любой вкус. Бесплатный вайфай ( подключаться не пробовали, т.к. отлично ловил
                        мобильный интернет)
                    </div>
                    <a target="_blank"
                        href="https://yandex.ru/maps/org/148281453059/reviews?reviews%5BpublicId%5D=uwrxfay5w411mhgty89eg06eqc&si=4zhjw283wrmdfww7zdwqzuywwm&utm_source=review">
                        <div class="original-review">Посмотреть оригинал на <img
                                src="{% static 'main/img/yandex.png' %}" alt=""></div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>