{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<link rel="stylesheet" href="{% static 'main/css/review.css' %}">
{% endblock %}
{% block content %}
<div class="swiper-inozemcevo">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/7.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/8.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/4.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/5.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/2.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/3.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/1.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/mainslider/6.jpg' %}" alt="">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<div class="content-wrapper">
    <h2>Номера</h2>
    <div class="animated-line"></div>
    {% include './components/rooms-list.html'%}
</div>

<div class="content-wrapper">
    <h2>Услуги</h2>
    <div class="animated-line"></div>
    {% include './components/services-list.html'%}
</div>

<div class="content-wrapper">
    <h2>Почему выбирают нас?</h2>
    <div class="animated-line"></div>
    {% include './components/reviews.html' %}
</div>


<!-- <div id="map"></div> -->
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script> -->
<script src="{% static 'main/js/home.js' %}"></script>
{% endblock %}