{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<link rel="stylesheet" href="{% static 'main/css/info.css' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h2>Информация</h2>
    <div class="animated-line"></div>   

    <div class="info-list">
        <!-- <div class="info-list-el">
            <img src="{% static 'main/img/info-img.JPG' %}" alt="">
        </div> -->
        <div class="info-list-el">
            <p>
                Прекрасный вариант, чтобы отдохнуть между прогулками по городу. Гостевой дом «Гостевой дом Усадьба Уюта»
                расположен в Иноземцево. Этот гостевой дом находится 1 км от центра города. Рядом с гостевым домом —
                Место дуэли Лермонтова, Комсомольский парк и Провал.</p>


            <p>
                Бесплатный Wi-Fi на территории поможет всегда оставаться на связи. Для путешественников на машине
                организована парковка. Также для гостей в гостевом доме: сауна. Среди развлечений на территории —
                площадка для пикника и площадка для барбекю.</p>

            <p>Здесь рады животным. Допускается размещение с питомцами за дополнительную плату. Сотрудники гостевого
                дома по запросу организуют гостям трансфер. А ещё в распоряжении гостей прачечная, индивидуальная
                регистрация заезда и отъезда и гладильные услуги. Персонал гостевого дома говорит на английском и
                русском.</p>


            <p>
                Чтобы вы могли отдохнуть после долгого дня, в номере есть телевизор и халат. Оснащение зависит от
                выбранной категории номера.</p>
        </div>
    </div>

    <div>
        <div class="facilities">
            <div class="flex-row">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
    </div>
</div>
{% block js %}
<script src="{% static 'main/js/home.js' %}"></script>
{% endblock %}
{% endblock %}