{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<link rel="stylesheet" href="{% static 'main/css/info.css' %}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h2>Основная информация</h2>
    <div class="animated-line"></div>

    <div class="info-list">
        <p>
            Прекрасный вариант, чтобы отдохнуть между прогулками по городу. Гостевой дом «Гостевой дом Усадьба Уюта»
            расположен в Иноземцево. Этот гостевой дом находится 1 км от центра города. Рядом с гостевым домом —
            Место дуэли Лермонтова, Комсомольский парк и Провал.</p>
        <img src="{% static 'main/img/ss1.jpg' %}" alt="">
        <img src="{% static 'main/img/ss2.jpg' %}" alt="">
        <p>
            Бесплатный Wi-Fi на территории поможет всегда оставаться на связи. Для путешественников на машине
            организована парковка. Также для гостей в гостевом доме: сауна. Среди развлечений на территории —
            площадка для пикника и площадка для барбекю.</p>
    </div>
</div>

<div class="content-wrapper">
    <h2>Возможности гостевого дома</h2>
    <div class="animated-line"></div>
    <div class="info-possibilities">
        <div class="info-possibility-ex">
            <img src="" alt="">
        </div>
    </div>
</div>

<div class="content-wrapper">
    <h2>На что стоит обратить внимание</h2>
    <div class="animated-line"></div>

</div>
{% block js %}
<script src="{% static 'main/js/home.js' %}"></script>
{% endblock %}
{% endblock %}