{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h2 id="services-indoors">Стандартные</h2>
    <div class="animated-line"></div>
    {% include './components/services-list.html' with services=indoor %}
</div>
<div class="content-wrapper">
    <h2 id="services-special">Специальные</h2>
    <div class="animated-line"></div>
    {% include './components/services-list.html' with services=special %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'main/js/home.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}