.info-list-el {
    font-size: 1.6em;
    color: var(--third-color);
}

.info-list-el p {
    margin-bottom: 1em;
}

.info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 1em;
    font-size: 1.4em;
    color: var(--third-color);
}

.info-list-el img {
    width: 50%;
}

.facilities {
    border: 1px #836951 solid;
    border-radius: 7px;
}

.info-possibilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-possibility-ex {
    display: flex;
    flex-direction: row;
}